@*@model test.Models.App_EquipmentModels*@


<div class="NamePerson">

    <p align="left"> @ViewBag.NameEquipment</p>

    <p align="left"> @ViewBag.SerialNumber</p>

    <p align="left">@ViewBag.Condition</p>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



