@{
//ViewBag.Title = "Проект ОТЛ";
}

<div class="jumbotron">
    <h1>Проект ОТЛ</h1>
    <p class="lead"></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Описание проекта</h2>
        <p>
            Ведение учета оборудования
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Доп инфа</h2>
        <p>По вопросам работы пишите на problems_DC@hclass.ru</p>
        
    </div>

</div>