@model test.Models.App_EquipmentModels


<div class="NamePerson">

    

    <p align="left">@Model.NameEquipment</p>

    <p align="left">@Model.SerialNumberEquipment</p>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



